* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
}

.container {
  border: 1px solid black;
  background-color: white;
  padding: 16px;
  margin: 16px auto;
  width: 85%;
  height: 100%;
  border-radius: 8px;
  max-width: 404px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: black;
}

a:hover {
  color: #555;
}

button,
a {
  cursor: pointer;
}

.nav {
  border: 1px solid black;
  border-radius: 0px;
  margin: 16px -17px;
  margin-bottom: 16px;
  padding: 8px 16px;
}

.nav button {
  border: 1px solid black;
  border-radius: 20px;
  font-size: x-small;
  margin-right: 4px;
}

.txt {
  margin: 8px 0 2px 0;
  min-width: 50%;
  /* max-width: 75%; */
  width: 75%;
  padding: 8px;
  background-color: gainsboro;
  border: 4px solid gray;
  border: 1px solid black;
  border-radius: 20px;
}

button {
  background-color: bisque;
  border: 1px solid black;
  color: black;
  padding: 8px;
  border-radius: 20px;
}

.add {
  margin-bottom: 16px;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background-color: gray;
  color: white;
}

.todoList li {
  margin-bottom: -1px;
  color: black;
  list-style-type: none;
  border: 1px solid black;
  padding: 4px;
  border-radius: 0px;
}

.todoList li button {
  padding: 4px;
  background-color: transparent;
  border: 1px solid black;
  color: white;
  border-radius: 50%;
  float: right;
}

.todoList li:hover {
  background-color: #ddd;
  color: black;
}

.todoList li button:hover {
  background-color: maroon;
  color: white;
}

.expl button:hover {
  background-color: firebrick;
  color: white;
}

.expl button.mark:hover {
  background-color: yellow;
  color: black;
}

.expl {
  border: 1px solid black;
  color: black;
  padding: 6px;
  overflow: auto;
  border-radius: 50px;
}

h3.expl {
  border: 1px solid black;
  color: black;
  padding: 5px 16px;
  border-radius: 50px;
  margin: 0px 0px -1px -12px;
  width: fit-content;
}

p.expl {
  margin: 0px -6px 16px -6px;
  padding-left: 8px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0;
}

.expl button {
  background-color: maroon;
  border: 1px solid black;
  color: white;
  border-radius: 0px;
  float: right;
  font-size: x-small;
}

.expl button.mark {
  background-color: yellowgreen;
  color: black;
  margin-right: 4px;
}

.nolist {
  border: 1px solid black;
  color: black;
  padding: 6px 12px;
  border-radius: 50px;
  max-width: fit-content;
  margin-bottom: 16px;
  font-size: small;
  font-weight: bold;
}

hr {
  background-color: black;
  height: 1px;
  margin: 8px -16px;
}

h5 {
  margin-bottom: -4px;
}

.check {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  overflow: hidden;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ddd;
  border-radius: 50%;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: darkgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.done {
  text-decoration: line-through;
  color: #444;
  font-style: italic;
}
